/* .outcontainer {
    display: flex;
    flex-direction: column;
    align-content: center;
} */

.incontainer {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.initem {
    max-width:500px;
    text-align: center;
}

a:hover {
    color: aliceblue;
    /* text-decoration: none; */
}